.home-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.home-container a {
  text-decoration: none;
  color: #1a1a1a;
}

.home-container .nav-item a {
  color: #ffcc80;
  font-size: 35px;
  padding: 10px 15px;
  font-family: monospace;
  transition: color 0.3s ease-in-out;
}

.home-container .nav-item a:hover {
  font-size: 36px;
  text-decoration: underline;
}

.home-container .nav-item a.disabled {
  color: #e2f2fa;
}

.home-container .navigation-menu {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background: rgba(201, 231, 240, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: monospace;
  margin-bottom: 270px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #d6e7f7;
  color: hsl(0, 0%, 98%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.75s ease-in-out;
}

label {
  position: relative;
}

label input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

label svg {
  width: 350px;
  height: auto;
  display: block;
}

label input + svg .light {
  transition: opacity 0.75s cubic-bezier(0.68, 0.25, 0.265, 1);
}

label input + svg .translate,
label input + svg .rotate,
label input + svg .background,
label input + svg .astronaut,
label input + svg .surfer {
  transition: transform 0.75s cubic-bezier(0.68, 0.25, 0.265, 1);
}

label input:checked + svg .light {
  opacity: 0;
}

label input:checked + svg .translate {
  transform: translateX(0px);
}

label input:checked + svg .rotate {
  transform: rotate(0deg);
}

label input:checked + svg .background {
  transform: translate(0px) scale(1);
}